body{
    background-color: #F2F1F2;
}

.grievance-stat
{   
    margin-top: 1.5em;
    box-sizing: border-box;
    
    
}
#escalated-grievances
{   
    background-color: #0098BC; 
    border-radius: 0.5em;
    padding: 0.5em;
    width: 17em;
}
#satisfied-grievances
{   
    background-color: #EE8F00; 
    border-radius: 0.5em;
    padding: 0.5em;
    width: 17em;
}
#pending-grievances
{   
    background-color: rgb(96, 179, 29); 
    border-radius: 0.5em;
    padding: 0.5em;
    width: 17em;
}
#total-grievances
{   
    background-color: #87645E; 
    border-radius: 0.5em;
    padding: 0.5em;
    width: 17em;
}
.grievance-stat-value
{
    
    display: block;
    font-weight: bold;
    color: white;
    font-size: 1.4em;
    

}
.grievance-stat-name
{

    display: inline;

    color: white;
    font-size: 0.9em;

}

hr
{
    border: 0.3px solid white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    
}
.grievance-stat-time
{
    margin-bottom: 0em;
    display: block;
    font-weight: bold;
    color: white;
    font-size: 0.7em;
}

.image-bar
{
    float: right;
}

#dash-head{
    color:#434B68;
    margin-top: 1em;
}
.grievance-form
{
    background-color: white;
    padding: 3em;
    border-radius: 0.5em;
    color: #5A5A5A;
    font-size: 1em;
    
    
}
.imp
{
    color:red;
}
.div-form label
{
    display: inline-block;
    width: 9em;
}

.div-form input
{   display: inline-block;
    background-color: #F2F1F2 ;
    border: 2px solid #D7D7D7;
    padding: 0.5em;
    width: 18em;
 
}
.div-detail textarea
{
    
    background-color: #F2F1F2 ;
    border: 2px solid #D7D7D7;
    padding: 0.5em;
    
   
    
}
.div-form select{
    display: inline-block;
    background-color: #F2F1F2;
    border: 2px solid #D7D7D7;
    padding: 0.5em;
    width: 18em;
    color: #7E7E7E;
}
.div-form
{
    padding: 1em;
}

.div-detail
{
    padding: 1em;
}
.div-detail label
{
    display: inline-block;
    width: 9em;
    vertical-align: top;
}

.div-detail input
{
    display: inline-block;
    background-color: #F2F1F2 ;
    border: 2px solid #D7D7D7;
    padding: 0.5em;
    width: 25em !important;
 
}

#attachment {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#attachment + label {
    display: inline-block;
    color: white;
    background-color: #434B68;
    padding: 0.5em;
    border-radius: 0.5em;
    text-align: center;
    box-shadow: 2px 2px 2px  #48537c,0 0 10px#4e5982;
}


#attachment + label {
	cursor: pointer; /* "hand" cursor */
}
#attachment:focus + label,
#attachment + label:hover {
    background-color: #4e5982;
}
#attachment:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.button-submit
{
    display: inline-block;
    color: white;
    background-color: #434B68;
    padding: 0.3em;
    border-radius: 0.5em;
    text-align: center;
    width: 10em;
    box-shadow: 2px 2px 2px  #48537c,0 0 10px#4e5982;
}

.button-submit:hover
{
    color: white;
    background-color: #4e5982;
}

#faq-head
{
    color:#756F6F;
    font-weight: 700;
}

.div-faq
{
    color:#4F4F4F;
    background-color: white;
    margin-top: 1.5em;
    box-shadow: 2px 2px 2px  silver,0 0 2px silver;;
}

.div-ques
{
    margin-top: 1em;
    background-color: white;
}

.add
{
   float: right;
   padding: 0em;
   
}
.add:hover
{
    cursor: pointer;
    margin: 0;
}

.grid
{
    margin:0;
    width: 100%;
    padding:0;
    height: auto !important;
    text-align: center;
    font-size: 0.8em;
    color: #6F6E6F;

}


.div-grievance
{
    background-color: white;
}

.grievance-heading
{
    color:#756F6F;
    font-weight: 700;
}

.open-grievance
{
    margin-top: 1em;
}

.table
{
    padding: 1.6em;
    background-color: white;
    border-radius: 0.5em;
}

/* .ui-grid-cell-contents 
{
    background-color: white !important;
    border-bottom: 2px solid silver;
} */
.cell
{
    background-color: white;
    border-bottom: 1px solid silver;
   
}

.div-click:hover
{
    cursor: pointer;
}
