<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">


    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/jquery-3.3.1.min.js" ></script>
    <script src="js/bootstrap.min.js" ></script>

    <title>Hello, world!</title>
  </head>
  <body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-12" >
    <img id="bg" src="{{ url_for('video_feed') }}">
			</div>
		</div>
	</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  </body>
</html>
